body{
    background-color: #1e2d3b;
}

/* Header */

header{
    background-color: #2e3a46;
}

header .my-logo img{
    width: 40px;
}


/* main */
.my-card-wrapper {
    width:calc(100% / 5);
}

.my-card-wrapper .card{
    background-color: #354351;
    padding-bottom: 1.5rem;
}